doctrine-extensions-mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="fsi"
    xmlns:fsi="fsi"
    elementFormDefault="qualified">

    <xs:element name="uploadable" type="fsi:uploadable"/>

    <xs:complexType name="uploadable">
        <xs:attribute name="targetField" type="xs:string" use="required"/>
        <xs:attribute name="filesystem" type="xs:string" use="optional"/>
        <xs:attribute name="keymaker" type="xs:string" use="optional"/>
        <xs:attribute name="keyLength" type="xs:integer" use="optional"/>
        <xs:attribute name="keyPattern" type="xs:string" use="optional"/>
    </xs:complexType>
</xs:schema>
